
#contendor_principarl{
    text-align: center;
    background-image: url(img\aleks-marinkovic-HB88RWKP_1E-unsplash.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}


@import "../node_modules/bootstrap/scss/bootstrap";