body{
  
    background-image: url(/img/blob.svg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: 700px;
    
}
.container{
    text-align: center;
  

}

p{
    display: inline;
   
}
.container_SVG{
    z-index: -1;
}

@import "../node_modules/bootstrap/scss/bootstrap";