body{
    background-image: url(/img/aleks-marinkovic-HB88RWKP_1E-unsplash.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    height: 700px;
    
}
#contendor_principarl{
    text-align: center;
    color: white;

}
#puntuacion{
   
}
p{
    display: inline;
   
}


@import "../node_modules/bootstrap/scss/bootstrap";